<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match results</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {% for match in data['matches'] %}
            <tr>
                <td>{{ match['homeTeam']['name'] }}</td>
                <td>{{ match['awayTeam']['name'] }}</td>
                <td>{{ match['score']['fullTime']['homeTeam'] }} - {{ match['score']['fullTime']['awayTeam'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>